In [76]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.preprocessing import LabelEncoder
import joblib

In [77]:
df = pd.read_csv("model training\Customer_Data.csv")
df.head()

<>:1: SyntaxWarning: invalid escape sequence '\C'
<>:1: SyntaxWarning: invalid escape sequence '\C'
C:\Users\RAINA\AppData\Local\Temp\ipykernel_29080\3688396677.py:1: SyntaxWarning: invalid escape sequence '\C'
  df = pd.read_csv("model training\Customer_Data.csv")

,Customer_ID,Gender,Age,Married,State,Number_of_Referrals,Tenure_in_Months,Value_Deal,Phone_Service,Multiple_Lines,...,Payment_Method,Monthly_Charge,Total_Charges,Total_Refunds,Total_Extra_Data_Charges,Total_Long_Distance_Charges,Total_Revenue,Customer_Status,Churn_Category,Churn_Reason
0,19877-DEL,Male,35,No,Delhi,7,27,NaN,Yes,No,...,Credit Card,65.6,593.30,0.00,0,381.51,974.81,Stayed,NaN,NaN
1,58353-MAH,Female,45,Yes,Maharashtra,14,13,NaN,Yes,Yes,...,Credit Card,-4.0,542.40,38.33,10,96.21,610.28,Stayed,NaN,NaN
2,25063-WES,Male,51,No,West Bengal,4,35,Deal 5,Yes,No,...,Bank Withdrawal,73.9,280.85,0.00,0,134.60,415.45,Churned,Competitor,Competitor had better devices
3,59787-KAR,Male,79,No,Karnataka,3,21,Deal 4,Yes,No,...,Bank Withdrawal,98.0,1237.85,0.00,0,361.66,1599.51,Churned,Dissatisfaction,Product dissatisfaction
4,28544-TAM,Female,80,No,Tamil Nadu,3,8,NaN,Yes,No,...,Credit Card,83.9,267.40,0.00,0,22.14,289.54,Churned,Dissatisfaction,Network reliability

In [78]:
dropped_columns = ['Customer_ID', 'Churn_Category', 'Churn_Reason']
df = df.drop(dropped_columns, axis=1)

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6418 entries, 0 to 6417
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Gender                       6418 non-null   object
 1   Age                          6418 non-null   int64
 2   Married                      6418 non-null   object
 3   State                        6418 non-null   object
 4   Number_of_Referrals          6418 non-null   int64
 5   Tenure_in_Months             6418 non-null   int64
 6   Value_Deal                   2870 non-null   object
 7   Phone_Service                6418 non-null   object
 8   Multiple_Lines               5796 non-null   object
 9   Internet_Service             6418 non-null   object
 10  Internet_Type                5028 non-null   object
 11  Online_Security              5028 non-null   object
 12  Online_Backup                5028 non-null   object
 13  Device_Protection_Plan       5028 non-null   object
 14  Premium_Support              5028 non-null   object
 15  Streaming_TV                 5028 non-null   object
 16  Streaming_Movies             5028 non-null   object
 17  Streaming_Music              5028 non-null   object
 18  Unlimited_Data               5028 non-null   object
 19  Contract                     6418 non-null   object
 20  Paperless_Billing            6418 non-null   object
 21  Payment_Method               6418 non-null   object
 22  Monthly_Charge               6418 non-null   float64
 23  Total_Charges                6418 non-null   float64
 24  Total_Refunds                6418 non-null   float64
 25  Total_Extra_Data_Charges     6418 non-null   int64
 26  Total_Long_Distance_Charges  6418 non-null   float64
 27  Total_Revenue                6418 non-null   float64
 28  Customer_Status              6418 non-null   object
dtypes: float64(5), int64(4), object(20)
memory usage: 1.4+ MB

In [80]:
df.shape

(6418, 29)

In [81]:
encoded_columns = ['Gender', 'Married', 'State', 'Value_Deal', 'Phone_Service', 'Multiple_Lines', 'Internet_Service', 'Internet_Type', 'Online_Security', 'Online_Backup', 'Device_Protection_Plan', 'Premium_Support', 'Streaming_TV', 'Streaming_Movies', 'Streaming_Music', 'Contract', 'Paperless_Billing', 'Payment_Method']
label_encoders = {}

In [82]:
for column in encoded_columns:
    label_encoders[column] = LabelEncoder()
    df[column] = label_encoders[column].fit_transform(df[column])

In [83]:
df.head()

,Gender,Age,Married,State,Number_of_Referrals,Tenure_in_Months,Value_Deal,Phone_Service,Multiple_Lines,Internet_Service,...,Contract,Paperless_Billing,Payment_Method,Monthly_Charge,Total_Charges,Total_Refunds,Total_Extra_Data_Charges,Total_Long_Distance_Charges,Total_Revenue,Customer_Status
0,1,35,0,4,7,27,5,1,0,1,...,1,1,1,65.6,593.30,0.00,0,381.51,974.81,Stayed
1,0,45,1,12,14,13,5,1,1,1,...,0,0,1,-4.0,542.40,38.33,10,96.21,610.28,Stayed
2,1,51,0,21,4,35,4,1,0,1,...,0,1,0,73.9,280.85,0.00,0,134.60,415.45,Churned
3,1,79,0,9,3,21,3,1,0,1,...,0,1,0,98.0,1237.85,0.00,0,361.66,1599.51,Churned
4,0,80,0,17,3,8,5,1,0,1,...,0,1,1,83.9,267.40,0.00,0,22.14,289.54,Churned

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6418 entries, 0 to 6417
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Gender                       6418 non-null   int64
 1   Age                          6418 non-null   int64
 2   Married                      6418 non-null   int64
 3   State                        6418 non-null   int64
 4   Number_of_Referrals          6418 non-null   int64
 5   Tenure_in_Months             6418 non-null   int64
 6   Value_Deal                   6418 non-null   int64
 7   Phone_Service                6418 non-null   int64
 8   Multiple_Lines               6418 non-null   int64
 9   Internet_Service             6418 non-null   int64
 10  Internet_Type                6418 non-null   int64
 11  Online_Security              6418 non-null   int64
 12  Online_Backup                6418 non-null   int64
 13  Device_Protection_Plan       6418 non-null   int64
 14  Premium_Support              6418 non-null   int64
 15  Streaming_TV                 6418 non-null   int64
 16  Streaming_Movies             6418 non-null   int64
 17  Streaming_Music              6418 non-null   int64
 18  Unlimited_Data               5028 non-null   object
 19  Contract                     6418 non-null   int64
 20  Paperless_Billing            6418 non-null   int64
 21  Payment_Method               6418 non-null   int64
 22  Monthly_Charge               6418 non-null   float64
 23  Total_Charges                6418 non-null   float64
 24  Total_Refunds                6418 non-null   float64
 25  Total_Extra_Data_Charges     6418 non-null   int64
 26  Total_Long_Distance_Charges  6418 non-null   float64
 27  Total_Revenue                6418 non-null   float64
 28  Customer_Status              6418 non-null   object
dtypes: float64(5), int64(22), object(2)
memory usage: 1.4+ MB

In [85]:
df['Unlimited_Data'].value_counts()

Unlimited_Data
Yes    4334
No      694
Name: count, dtype: int64

In [86]:
df['Customer_Status'].value_counts()

Customer_Status
Stayed     4275
Churned    1732
Joined      411
Name: count, dtype: int64

In [87]:
df['Customer_Status'].dropna(inplace=True)

In [88]:
df['Customer_Status'].isna().sum()

np.int64(0)

In [89]:
df['Customer_Status'] = df['Customer_Status'].map({'Stayed': 0, 'Churned': 1})
df['Unlimited_Data'] = df['Unlimited_Data'].map({'No': 0, 'Yes': 1})
X = df.drop('Customer_Status', axis=1)
y = df['Customer_Status']

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6418 entries, 0 to 6417
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Gender                       6418 non-null   int64
 1   Age                          6418 non-null   int64
 2   Married                      6418 non-null   int64
 3   State                        6418 non-null   int64
 4   Number_of_Referrals          6418 non-null   int64
 5   Tenure_in_Months             6418 non-null   int64
 6   Value_Deal                   6418 non-null   int64
 7   Phone_Service                6418 non-null   int64
 8   Multiple_Lines               6418 non-null   int64
 9   Internet_Service             6418 non-null   int64
 10  Internet_Type                6418 non-null   int64
 11  Online_Security              6418 non-null   int64
 12  Online_Backup                6418 non-null   int64
 13  Device_Protection_Plan       6418 non-null   int64
 14  Premium_Support              6418 non-null   int64
 15  Streaming_TV                 6418 non-null   int64
 16  Streaming_Movies             6418 non-null   int64
 17  Streaming_Music              6418 non-null   int64
 18  Unlimited_Data               5028 non-null   float64
 19  Contract                     6418 non-null   int64
 20  Paperless_Billing            6418 non-null   int64
 21  Payment_Method               6418 non-null   int64
 22  Monthly_Charge               6418 non-null   float64
 23  Total_Charges                6418 non-null   float64
 24  Total_Refunds                6418 non-null   float64
 25  Total_Extra_Data_Charges     6418 non-null   int64
 26  Total_Long_Distance_Charges  6418 non-null   float64
 27  Total_Revenue                6418 non-null   float64
 28  Customer_Status              6007 non-null   float64
dtypes: float64(7), int64(22)
memory usage: 1.4 MB

In [91]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [93]:
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

ValueError: Input y contains NaN.